@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-synthesis: none;
}

[cmdk-dialog] {
  @apply fixed top-[18vh] z-40 flex w-full justify-center;
}

[cmdk-group-heading] {
  @apply pb-1 text-xs uppercase opacity-60;
}

[cmdk-empty] {
  @apply opacity-60;
}

[cmdk-item] {
  @apply relative -mx-2 cursor-pointer rounded-lg py-2 px-2 text-lg capitalize text-pale transition-colors;
}

[cmdk-item][aria-selected='true'] {
  @apply bg-white/5;
}

[cmdk-item][aria-selected='true']:after {
  @apply absolute right-2 -translate-y-px rounded-md border border-steel/25 bg-gradient-to-tr from-steel/30 via-steel/60 to-steel/30 px-2 py-1 text-sm content-['â'];
}

.wrapper:hover > .card::after {
  @apply opacity-100;
}

.card::after {
  background: radial-gradient(
    650px circle at var(--x) var(--y),
    rgba(255, 255, 255, 0.16),
    transparent 40%
  );
}
